<div class="container mt-5">
  <h1>Add a plant tag</h1>
  <%= simple_form_for [@plant, @plant_tag] do |f| %>
    <%= f.input :tag_id, collection: Tag.all, input_html: { multiple: true, class: 'select2' }, include_hidden: false %>
    <%= f.submit 'Add tag', class: 'btn btn-primary' %>
  <% end %>
    
</div>
